@model AddressBook.Models.Address
<div style="display:none">
    @Html.EditorFor(model => model.AddressId, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="col-md-12">
    <label class="control-label" for="Country">*Страна</label>
    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control capital-letter" } })
    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
</div>
<div class="col-md-12">
    <label class="control-label" for="Country">*Город</label>
    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control capital-letter" } })
    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
</div>
<div class="col-md-12">
    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control capital-letter" } })
    @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
</div>
<div class="col-md-12">
    @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @class = "form-control only-number" } })
    @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
</div>

<div class="col-md-12">
    @Html.LabelFor(model => model.TypeBuildId, htmlAttributes: new { @class = "control-label" })
	<input class="form-control type-selector text-box single-line valid" style="display:none" data-val="true" data-val-number="Значением поля Вид здания должно быть число." id="TypeBuildId" name="TypeBuildId" type="number" value="" aria-describedby="TypeBuildId-error" aria-invalid="false">
	<select class="form-control type-selector" aria-invalid="false">
		<option value="0">-</option>
		@foreach (System.Web.Mvc.SelectListItem type in @ViewBag.Types)
		{
			<option value="@type.Value">@type.Text</option>
		}
	</select>
    @Html.ValidationMessageFor(model => model.TypeBuildId, "", new { @class = "text-danger" })
</div>